# ====================================
# Python Cache
# ====================================
__pycache__/
*.py[cod]
*$py.class

# ====================================
# Virtual Environments
# ====================================
venv/
.venv/
env/

# ====================================
# Model Checkpoints
# ====================================
*.pth
*.pt
*.ckpt
*.onnx

# ====================================
# Dataset
# ====================================
data/
datasets/

# ====================================
# Huge Generated Image Outputs
# ====================================
results/difficulty_subset/images/

# ====================================
# Temporary Logs / Cache
# ====================================
results/logs/
results/cache/
results/temp/
*.log

# ====================================
# Jupyter
# ====================================
.ipynb_checkpoints/

# ====================================
# IDE
# ====================================
.vscode/
.idea/

# ====================================
# OS Files
# ====================================
.DS_Store
Thumbs.db
desktop.ini